@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    box-sizing: border-box;
    /* margin: 0; */
    padding: 0;
}

#cajones{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

body{
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
}

h1{
    display: flex;
    justify-content: center;
    color:#264653;
}

.row{
    justify-content: center;
}

.logo{
    width: 250px;
    background-color: brown;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    border-radius: 10px;
}

#logoTienda{
    display: flex;
    justify-content: center;
}



#formas{
    display: flex;
    justify-content: center;
}

#errores{
    display: flex;
    flex-direction:column;
}

#loging{
    /* display: flex;
    justify-content: center; */
   width: 300px;
   background:#3f37c9
   /* margin-left: 25%; */
}

#allContainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #ffcdb2;
    background-image: url(https://envato-shoebox-0.imgix.net/859c/3a5b-5dcd-46b9-a622-d1affb391ab6/77_a2F0eWEgZnJ1aXRzMDEyNw.jpg?auto=compress%2Cformat&fit=max&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark2.png&markalign=center%2Cmiddle&markalpha=18&w=1400&s=d5b8292a32d6a98a8d6bbc97ad36a510);
 
}

.botonLogin{
    display: flex;
    justify-content: center;
    border-radius: 10px;
  
}

#texto{
    display: flex;
    justify-content: center;
    font-size: 800px;
    color:#264653;
    background-image: url(https://envato-shoebox-0.imgix.net/859c/3a5b-5dcd-46b9-a622-d1affb391ab6/77_a2F0eWEgZnJ1aXRzMDEyNw.jpg?auto=compress%2Cformat&fit=max&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark2.png&markalign=center%2Cmiddle&markalpha=18&w=1400&s=d5b8292a32d6a98a8d6bbc97ad36a510);

    /* background-color: burlywood; */
}

.form-label{
    color: green;
    font-weight: bolder;
}

.navbar navbar-light bg-dark{
    background: green;
}

#cajones {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}

.informacionGeneral{
    margin-top: 20px;
    
}

#cajonesUsuarios {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: stretch;
} 

.bigContainer{
   width: 100%;
   height: 100%;
    background-repeat: no-repeat;
    justify-content: center;
    background-image: url(https://envato-shoebox-0.imgix.net/4ed0/80f1-e534-4b02-9cc2-e2f852cd58ce/back_b261.jpg?auto=compress%2Cformat&fit=max&mark=https%3A%2F%2Felements-assets.envato.com%2Fstatic%2Fwatermark2.png&markalign=center%2Cmiddle&markalpha=18&w=1600&s=ee6ac1600b3ad3500df8f313e85bb1fb);
}

.botonUsuario{
    background-color:#e9c46a;
    width: 100px;
    height: 40px;
    border-radius: 5px;
    color:cyan;
}

.btn-success {
    color: #fff;
    background-color: #198754;
    border-color: #198754;
    width: inherit;
}

.botonCerrarSesion{
    background-color:#caf0f8;
    width: 100px;
    height: 30px;
    border-radius: 100px;
   /*  color:cyan; */
    font-size: 8px;
}

#allcontainer{
    background-image: url(https://previews.123rf.com/images/bravissimos/bravissimos1801/bravissimos180100042/92821126-resumen-de-fondo-de-textura-de-tabl%C3%B3n-de-madera-pino-blanco.jpg);
}


