@charset "ISO-8859-1";

body {
	text-align: center;
}

.table {
	width: 80%;
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
	
}

td {
	border: 1px solid black;
}


#formulario {
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	background-color: #d5f4e6;
	margin-bottom: 25px;
	
}

h1{
	border: 1px solid black;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	background-color:#74ABFA;
	color:white;
	font-family: "Times New Roman", Times, serif;
}
.container1{
	width: 92.5%;
	background-color: #D9E8FD;
	margin-top: 10px;
	margin-left: 48px;
	border: 1px solid black;
}

.table1{
	background-color: #96BFF9;
	margin-bottom: 25px;
	border: 1px solid black;
	width: 20%;
}

.caja1{
	width: 35%;
	background-color: #D9E8FD;
	margin-top: 10px;
	margin-left: 450px;
	border: 1px solid black;
	height: 130px;
}

#cuadros{
	-webkit-flex-direction: row;
	flex-direction: row;
}



