<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template:: head"></head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<header th:replace="plantilla/template:: header"></header>

	<h1>BUSCAR USUARIO</h1>
<div class=" col-xl-2 col-lg-3 col-md-4 col-sm-6" id="formulario"> 
			<form th:action="@{/buscarUsuario}" th:object="${UsuarioResponse}" method="post"> 
				
				<div>
				<label > Buscar Usario:</label><input type="text"
						name="numeroDocumento" id="numeroDocumento"
						class="form-control" value="" />
				</div>
				<br>
				<button type="submit" class="btn btn-primary">Buscar</button>
			</form>
		<br>
		<br>
		<br>
		</div>
		
		<div>
		<table class="table" >
			<thead>
				<tr class="table1">
					<th class="table1">Numero Documento</th>
					<th class="table1">Nombre Cliente</th>
					<th class="table1">Correo</th>
					<th class="table1">Nombre usuario</th>
				</tr>
				
			</thead>
			
			<tbody>
				<tr th:each="u:${prueba}">
				<td th:text="${u.numeroDocumento}"></td>
				<td th:text="${u.nombre}"></td>
				<td th:text="${u.email}"></td>
				<td th:text="${u.nombreUsuario}"></td>
				</tr>
			</tbody>
		</table>
		
		</div>
</body>
</html>