<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template:: head">
</head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<script type="text/javascript" src="/main.js"></script>
</head>
<script type="text/javascript">

/*$(document).ready( () =>{
	
	$ajax({
		url:'http://localhost:8090/tiendagenerica/v1/cliente',
		type:'GET',
		dataType:'json',
		success: function(res){
			console.log(res);
		}
	})
}*/

</script>

<body>
<header th:replace="plantilla/template:: header"></header>
<br>
<br>
<h1>Buscar Producto</h1>
	<br>
	


<div class=" col-xl-2 col-lg-3 col-md-4 col-sm-6" id="formulario"> 


			<form th:action="@{/venta}" th:object="${Producto}" method="post"> 
				
				<div>
				<label > Buscar Producto:</label><input type="text"
						name="id" id="id"
						class="form-control" value=""/>
						
				</div>
				<br>
				<button type="submit" class="btn btn-primary">Buscar</button>
			</form>
			</div>
			<br>
			
			<div class="cuadros25">
		<table class="table" >
			<thead>
				<tr class="table1">
					<th class="table1">Codigo Producto</th>
					<th class="table1">iva compra</th>
					<th class="table1">nombre</th>
					<th class="table1">precio compra</th>
					<th class="table1">precio venta</th>
					
				</tr>
				
			</thead>
			
			<tbody>
				<tr th:each="u:${productosVentas}">
					<td th:text="${u.id}"></td>
					<td th:text="${u.ivaCompra}"></td>
					<td th:text="${u.nombre}"></td>
					<td th:text="${u.precioCompra}"></td>
					<td th:text="${u.precioVenta}"></td>
					
			</tbody>
		</table>
			
			

	<!-- cnd jquery -->
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"
integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
 crossorigin="anonymous"></script>
 
 <script src="main.js"></script>
</body>
</html>