#cajones{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

body{
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
}

h1{
    display: flex;
    justify-content: center;
}

.row{
    justify-content: center;
}

#imagen1{
    background-color: brown;
    display: flex;
    flex-direction: center;
}

#formas{
    display: flex;
    justify-content: center;
}

#errores{
    display: flex;
    flex-direction:column;
}